@charset "utf-8";
/* CSS Document */
body
{
	background-image:url(bg.jpg);
	background-color:#000;
	
	}
.login
{
	color:#FFF;
	text-align:center;
	background-image:url(bg.png);
	}
.signup
{
	color:#FFF;
	text-align:center;
	background-image:url(bg.png);
	}
.blank
{
	text-align:center;
	}
.registerinfo
{
	margin-top:70px;
	background-image:url(bg.png);
	height:420px;
	padding:50px 30px 50px;
	}
.logininfo
{
	color:#333;
	text-align:center;
	font-family:"Californian FB", Calibri, Candara, Corbel;
	font-size:24px;
	margin-top:70px;
	background-image:url(bg.png);
	height:420px;
	padding:50px 30px 50px;
	}
.authorinfo
{
	margin-top:50px;
	}
.btn-con
{
	width:100px;
	}
.btn-lo
{
	width:100px;
	}